/* @override 
	http://levelodrome.org/wp-content/themes/velodrome/css/dev/30-custom.css */

/*! Custom Styles */


/*******************************************
*** Main CSS Site Layout ***
*******************************************/

/* @group Fonts */

body { 
	font:16px LinetoAkkurat, Helvetica, Arial, sans-serif; 
	*font-size:small; 
	*font:x-small; 
	line-height:1.3;
	
/*	letter-spacing: 0.04em;*/
/*	font-stretch: expanded; */
	}
	
img {
	display: block;
}
	
input,
.formError .formErrorContent,
.widget_wysija_cont .updated, .widget_wysija_cont .error, .widget_wysija_cont .xdetailed-error {
	font:16px LinetoAkkurat, Helvetica, Arial, sans-serif;
}	
	
/* Font Override */
#swipebox-overlay #swipebox-caption {
	font-family: LinetoAkkurat, Helvetica, Arial, sans-serif;
}	
	
.wf-loading .lib-serif {
	font-family: serif;
}

.wf-inactive .lib-serif {
	font-family: serif;
}

.margin-zero {
	margin: 0;
}

.bold-title, .strong, .bold {
	font-weight: bold;
}

.italic-title {
	font-style: italic;
}

.norm {
	font-weight: normal;
}

.admin-bar .admin-show {
	display: block;
}


/* @end */

/* @group Icon Font */

@font-face {
	font-family: 'vldr';
	src: url('../../fonts/vldr/vldr.woff') format('woff'),
		url('../../fonts/vldr/vldr.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon-vldr,
.icon-menu-alt,
.icon-search {
	font-family: 'vldr', LinetoAkkurat, Helvetica, Arial, sans-serif;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
/*	-webkit-font-smoothing: antialiased;*/
	-moz-osx-font-smoothing: grayscale;
	text-rendering: geometricPrecision
}

.icon-menu-alt:before {
/*	content: "\e600";*/
}
.icon-vldr:before {
/*	content: "\e601";*/
}
.icon-zoomin:before {
	content: "\e602";
}
.icon-expand:before {
	content: "\e603";
}
.icon-expand2:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e605";
}
.icon-search:before {
/*	content: "\e606";*/
}

/* @end */

/* @group Basics */

html {
	background: #fff;
}

body {
}

body, select, input, textarea,
a, a:active, a:visited,
a:hover
{ 
	color:#222; 
}

ul,
li,
.zero {
	margin: 0;
	padding: 0;
	border: 0;
}

ul.clean {
	list-style: none;
}

.hidden,
.hidden-mob {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.h1 { font-size: 220%; }
.h2 { font-size: 170%; }
.h3 { font-size: 150%; }
.h4 { font-size: 120%; }
.h5 {  }

.font-small,
.small-font {

}

.large-font {
	font-size: 140%;
}
.larger-font {
	font-size: 145%;
}

.ital {
	font-style: italic;
}

.trueblack {
	color: #000;
}

.img {
	display: block;
}

.leftfloat {
	float: left;
}

.rightfloat {
	float: right;
}

.dblock {
	display: block;
}

/* link-styles */

a:hover {
	background-color: #000;
	color: #fff;
}

a.unstyled {
	text-decoration: none;
}

/* unstyled - hoverable */
.u-h {
	text-decoration: none;
}
.u-h:hover {
	text-decoration: underline;
}

/* @end */

.container {
	margin: 0.5em auto;
	padding: 0.3em 2em 1em 2em;
	position: relative;
	max-width: 100%;
/*	background: #f5f5f5;*/
}

/* @group Header */

.site-header {
	font-size: 90%;
	position: relative;
	
/*	border: 1px solid #333;*/
/*	width: 104px;
	background: #fff;*/
}

.vldr-logo {
	text-decoration: none;
	text-shadow: 0px -5px 30px rgb(255, 255, 255);
	font-size: 130%;
}

/* Modified in mediaqueries !! */

.vldr-logo:hover {
	color: #fff;
	background: transparent;
	text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.site-header .description {
	padding-left: 5px;
	font-weight: 300;
	
}
.description-inside {
	background: rgba(255, 255, 255, 0.58);
	background: #fff;
	float: left;
	clear: left;
	padding: 0.5em 0.7em;
}

/* @group Search Form */

.search-container {
/*	border: 1px solid #333;*/
	position: absolute;
	z-index: 20;

	top:  0;
	right: 2em;
}

.main-search {
	position: relative;
	top:  0.3em;
	right: 64px;
	float: right;
	margin: 0px;
	padding: 0px;
	height: 64px;
}
.searchfield {
	height: 60px;
	padding: 0px;
	line-height: 1;
	padding: 0 66px 0 16px;
	background: #efefef;
	border: 0px;
	color: #000;
}
.main-search .submit {
	display: none;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

/* @end */

/* @end */

/* @group Menu */

/* note: 
 * switch from mobile to desktop menu is at 768 px
**/

.main-nav {
/*	border: 1px solid #333;*/
	position: static;
}

.main-nav .menu {
/*	display: none;*/
	margin-top: 0.4em;
	margin-bottom: 2em;
}

.main-nav .menu-item  {
	line-height: 1;
	margin-top: 0em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.58);
}
.main-nav .menu-item:first-of-type {
	border-top: 1px solid rgba(0, 0, 0, 0.58);
}

.main-nav a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 0.7em 0em;
	background: rgba(255, 255, 255, 0.95);
	background: #fff;
/*	background: #0f0;*/
	text-align: center;
	width: 100%;
}

.main-nav a:hover {
	background-color: rgba(0, 0, 0, 0.58);
}

/* @end */

/* @group Toggle Buttons */

/* Shared Properties */


.site-header .h1 {
	margin-top: 0em; /* was: 0.67em */
} 

.menu-title,
.search-toggle {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #a1a1a1;
	background: #fff;
/*	background: rgba(255, 255, 255, 0.80);*/
	top: 0px;
	top: 0.3em;
	right: 0px;
	font-weight: normal;
}

.search-toggle {
}

.menu-title {
	z-index: 5;
	right: 100px;
	font-size: 100%;
}

.search-toggle .inside,
.menu-title .inside {
	padding: 0.3em 0.4em;
	display: block;
	font-size: 160%;
	color: #4e4d4d;
}

.search-toggle .inside{
	padding: 0.3em 0.55em;
}

.menu-title:hover,
.search-toggle:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.58);
	border: 1px solid rgba(0, 0, 0, 0.58);
}

.menu-title:hover .inside,
.search-toggle:hover .inside{
	color: #ededed;
}

.search-toggle a {
	text-decoration: none;
	background-color: transparent;
	border-bottom: 0px;
}



/* @end */

/* @group Footer */

.footer {
	font-size: 80%;
	margin: 2em 0;
	float: left;
	width: 100%;
}
.footer-section {
	width: 50%;
	float: left;
}

/* @end */

.main-header .h2,
.main .h1,
.main-header .h1 {
	margin-top: 0;
	line-height: 1.4;
}

/* @group Accueil */


.plan-container {
	position: relative;
/*	padding-bottom: 50%;*/
	width: 100%;
	background-color: #000;
	border: 0px solid #333;
	padding-bottom: 50%;
}

.plan-velodrome {
	background-image: url(../../img/plan/plan-velodrome-1920px-v4.png);
	padding-bottom: 50%;

	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top:  0px;
	left: 0px;
	width: 100%;
	height: auto;
	z-index: 15;
}

.plan-container,
.plan-velodrome {
		padding-bottom: 0px;
}

.plan-lo-item {
	border: 0px solid #dbdbdb;
	display: block;
/*	background-color: rgba(255, 83, 83, 0.36);*/
	position: absolute;
	z-index: 20;
}

.plan-lo-item a {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	display: block;
	width: 100%;
	height: 100%;
}

.plan-lo-item a:hover {
	color: transparent;
	background: transparent;
}

.plan-highlight {
	position: absolute;
	width: 1%;
	height: 1%;
	background: #cf0000;
	z-index: 12;
}


.lo-401 {
	top:  52.6%;
	left: 8.1%;
	height: 16%;
	width: 4.4%;
}

.lo-418 {
	top:  47%;
	left: 8.1%;
	height: 5.7%;
	width: 4.4%;
}

.lo-402-1,.lo-402-a {
	top:  47%;
	left: 16.1%;
	height: 21%;
	width: 3.8%;
}

.lo-402-2,.lo-402-b {
	top:  47%;
	left: 12.5%;
	height: 14%;
	width: 3.6%;
}

.lo-404 {
	top:  47%;
	left: 20.1%;
	height: 16%;
	width: 3.95%;
}

.lo-405-2,.lo-405-c {
	top:  53.2%;
	left: 23.9%;
	height: 9.8%;
	width: 3.8%;
}

.lo-405-3,.lo-405-d {
	top:  47%;
	left: 23.9%;
	height: 6.5%;
	width: 3.8%;
}
.lo-405-4,.lo-405-b {
	top:  47%;
	left: 27.6%;
	height: 7.5%;
	width: 4.3%;
}

.lo-407 {
/*	top:  47%;
	left: 32%;
	height: 20%;
	width: 11%;*/
}

.lo-407-2,.lo-407-b {
	top:  47%;
	left: 31.7%;
	height: 14%;
	width: 4.1%;
}

.lo-407-1,.lo-407-a {
	top:  53.6%;
	left: 35.8%;
	height: 15%;
	width: 3.8%;
}

.lo-407-3,.lo-407-c {
	top:  50.5%;
	left: 39.5%;
	height: 13%;
	width: 3.1%;
}

.lo-420 {
	top:  47%;
	left: 43.3%;
	height: 16.4%;
	width: 4.0%;
}

.lo-419-1,.lo-419-a {
	top:  53.3%;
	left: 47.2%;
	height: 15.4%;
	width: 4.3%;
}

.lo-419-2,.lo-419-b {
	top:  47%;
	left: 47.2%;
	height: 6.4%;
	width: 4.3%;
}

.lo-419-3,.lo-419-c {
	top:  47%;
	left: 51.5%;
	height: 14.4%;
	width: 3.7%;
}

.lo-428 {
	top:  47%;
	left: 55%;
	height: 22%;
	width: 4.7%;
}

.lo-422 {
	top:  47%;
	left: 59.6%;
	height: 17%;
	width: 4.2%;
}
.lo-424 {
	top:  47%;
	left: 63.7%;
	height: 17%;
	width: 4.1%;
}
.lo-427 {
	top:  47%;
	left: 67.8%;
	height: 22%;
	width: 4.1%;
}

.lo-415 {
	top:  71.3%;
	left: 27.3%;
	height: 9.8%;
	width: 4.4%;
}

.lo-416-1,.lo-416-a {
	top:  71.3%;
	left: 12.8%;
	height: 17%;
	width: 4.4%;
}
.lo-416-2,.lo-416-b {
	top:  71.3%;
	left: 17%;
	height: 17%;
	width: 4.7%;
}
.lo-416-3,.lo-416-c {
	top:  80.7%;
	left: 21.5%;
	height: 8%;
	width: 6.8%;
}
.lo-416-4,.lo-416-d {
	top:  71.3%;
	left: 23.5%;
	height: 10%;
	width: 2.3%;
}

.lo-414 {
	top:  71.3%;
	left: 31.7%;
	height: 9.6%;
	width: 4%;
}

.lo-413 {
	top:  71.3%;
	left: 35.7%;
	height: 17%;
	width: 4.1%;
}

.lo-412 {
	top:  71.3%;
	left: 39.7%;
	height: 17%;
	width: 4%;
}

.lo-411 {
	top:  71.3%;
	left: 43.7%;
	height: 18%;
	width: 3.9%;
}

.lo-410 {
	top:  71.3%;
	left: 47.6%;
	height: 18%;
	width: 3.9%;
}

.lo-421 {
	top:  71.3%;
	left: 51.4%;
	height: 18%;
	width: 3.7%;
}

.lo-426 {
	top:  71.3%;
	left: 55.2%;
	height: 18%;
	width: 4.8%;
}

.lo-423 {
	top:  71.3%;
	left: 65%;
	height: 10%;
	width: 2.8%;
}
.lo-429-1,.lo-429-a {
	top:  71.3%;
	left: 68.4%;
	height: 17%;
	width: 3.7%;
}
.lo-429-2,.lo-429-b {
	top:  71.3%;
	left: 71.9%;
	height: 10%;
	width: 3.8%;
}
.lo-429-3,.lo-429-c {
	top:  71.3%;
	left: 75.6%;
	height: 17%;
	width: 3.9%;
}
.lo-429-4,.lo-429-d {
	top:  70.1%;
	left: 79.5%;
	height: 17%;
	width: 7.7%;
}
.lo-430 {
	top:  34.3%;
	left: 76.1%;
	height: 14%;
	width: 3.7%;
}

.lo-parking-a,
.lo-parking-b {
	top:  26.1%;
	left: 83.5%;
	height: 5.8%;
	width: 4%;
}
.lo-parking-b {
	top:  31.9%;
	height: 6%;
}
.lo-parking-c,
.lo-parking-d {
	top:  26.3%;
	left: 88.2%;
	height: 6%;
	width: 3.5%;
}
.lo-parking-d {
top:  32.2%;
height: 7%;
}
.lo-parking-e {
	top:  26.3%;
	left: 91.6%;
	height: 12.8%;
	width: 2.8%;
}

.lo-parking-f,
.lo-parking-g {
	top:  39.4%;
	left: 83.5%;
	height: 8.2%;
	width: 3.3%;
}
.lo-parking-g {
	top:  47.6%;
	height: 9%;
}

.lo-parking-h,
.lo-parking-i,
.lo-parking-j {
	top:  39.4%;
	left: 87.4%;
	height: 5.8%;
	width: 6.8%;
}
.lo-parking-i {
	top:  45.4%;
}
.lo-parking-j {
	top:  50.9%;
	width: 7%;
}

.lo-parking-k {
	top:  58%;
	left: 86.9%;
	height: 10.6%;
	width: 4.0%;
}

.lo-parking-l {
	top:  58%;
	left: 90.9%;
	height: 14.6%;
	width: 4.4%;
}

.lo-parking-n {
	top:  24.4%;
	left: 94.3%;
	height: 13.6%;
	width: 4.5%;
}

.lo-parking-p,
.lo-parking-o {
	top:  24.4%;
	left: 94.3%;
	height: 13.6%;
	width: 4.5%;
}
.lo-parking-o {
	top:  37.8%;
	height: 15.7%;
}
.lo-parking-n {
/*	top:  40%;
	left: 94.3%;
	height: 13.6%;
	width: 4.5%;*/
}
.lo-parking-m {
/*	top:  24.4%;
	left: 94.3%;
	height: 13.6%;
	width: 4.5%;*/
}



/* @end */

/* @group Liste Locaux */

.li-lo {
}

.li-lo-h {
	padding: 0;
}

.li-lo-h a {
/*	display: block;*/
	text-decoration: none;
	border-bottom:  7px solid #222;
/*	margin-right: 0.5em;*/
}

.li-lo-h .loc-more:before {
	content: ' / ';
}

.small-print {
	font-size: 85%;
}

.ul-clean {
	list-style: none;
}
.ul-clean a {
	text-decoration: none;
}

.ul-membres .li {
	padding-left: 2em;
	margin: 0.3em 0;
}
.ul-membres .li::before {
	content: '_ ';
}

.ul-membres a:hover {
	background: #000;
	color: #fff;
}

.initiale {
	margin-top: 0;
}

.ul-initiale {
	margin-bottom: 1.5em;
}

.initiale-text {
	border-bottom: 0.25em solid #333;
	padding: 0 0.1em 0em 0.1em;
}

/* @end */

/* @group Single Article */

.single-article {
/*	padding: 1em;*/
	background: #fff;	
	position: relative;
	min-height: 9.7em;
}

.single-article .news-item {
	padding-top: 1em;	
}

.has-svg {
	background-color: transparent;
}

.svg-plan {
	border:0px solid black; 
/*	background: #ddd; */
	width:100%; 
	height:auto;
	position: absolute;
/*	z-index: -1;*/
	border-bottom: 3em solid transparent;
}

/* @end */

/* @group Page Membre */

.single-membre {
	padding: 0px;
	background-color: transparent;
	padding-bottom: 2em;
/*	background-position: 30px 30px;*/
/*	background-color: pink;*/
/*	background-position: 0% 0% !important;
	background-size: auto 100% !important;
	background-origin: border-box;*/
}

.single-membre .li-lo-h {
	font-size: 220%;
}

.single-membre .h1 {
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0.2em 0em 0em 0;
	display: block;
	width: 100%;
	font-size: 120%;
	border/*:*/ 1px solid #333;
}

.single-membre .acf-activite {
	margin-top: 0em;
	margin-bottom: 0.5em;
	padding: 0;
	background: #0f0;
/*	border: 1px solid #333;*/
}

.collectifs {
	clear: left;
	text-transform: uppercase;
/*	border: 1px solid #333;*/
}
.single-membres .collectifs {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.archive .collectifs {
	margin: 0.9em 0 0.3em 0;
}
.archive .collectifs::before {
	content: '';
}
.collectifs .h3 {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

.single-membre .post-content {
	margin-bottom: 1em;
}

.single-membre .local,
.single-membre .nom-prenom,
.single-membre .acf-activite,
.single-membre .post-content,
.single-membre .img-gallery,
.single-membre .meta-fields {
	background: #fff;
	float: left;
	clear: left;
}

.single-membre .post-content p:first-of-type {
	margin-top: 0;	
}
.single-membre .post-content p:last-of-type {
	margin-bottom: 0;	
}

.single-membres .no-svg {
	background: #fff;
	padding: 1em;
}

.single-membres .has-svg {
	padding: 1em 2.5em;
	/*	padding: 3em;*/
}

.img-gallery {
	width: 100%;
}

.img-gallery {
	margin-top: 1em;	
}

.img-gl-itm {
	display: block;
	float: left;
	margin: 0 0 1em 0;
	width: 100%;
	margin-right: 5%;
	padding-bottom: 30%;
	background-size: cover;
	background-position: 50%;
	
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;	
	
}

.img-gl-itm:hover {
	opacity: 0.8;
}

.img-gl-itm:last-of-type {
/*	margin-right: 0;*/
}

.img-gl-itm img {
	max-width: 100%;
	height: auto;
	display: none;
}


.single-membre .meta-fields {
	margin-top: 1em;
}

.img-gallery {
	clear: left;
}

.media-container {
	display: block;
	position: relative;
	clear: left;
	width: 100%;
	max-width: 100%;
	margin-bottom: 1em;
}

.media-container iframe {
	width: 100%;
}

/* @group Vimeo */

.vimeo-inside {
	display: block;
	background-color: #fff;
	background-size: cover;
	background-position: 50%;
	clear: left;
	max-width: 100%;
	width: 100%;
	margin-bottom: 1em;
	position: relative;
}

.vimeoframe {
	display: block;
	position: relative;
	width: 100%;
	
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.vimeoframe:hover {
	background: rgba(255, 255, 255, 0.2);
}

.soundcloud-container {
	padding-bottom: 50%;
}
.youtube-container {
	padding-bottom: 60%;
}

.youtube-container iframe,
.soundcloud-container iframe,
.vimeo-inside iframe {
	width: 100% !important;
	height: 100%;
	position: absolute;
/*	height: 56.25% !important;*/
}

.vimeo-play-icon {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	padding: 0;
	background-image: url(../../img/arrows/video-arrow-70.png);
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;	
	margin-top: -35px;
	margin-left: -35px;
	opacity: 0.8;
/* hide the text */
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	z-index: 20;
}

.vimeoframe:hover .vimeo-play-icon {
	opacity: 0.9;
}

.vid-legende {
	position: absolute;
	top: 5%;
	left: 5%;
	padding: 2%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	display: block;
	font-size: 80%;
	max-width: 80%;
	color: #000;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.vid-legende p {
	margin: 0.1em;
}

.vimeoframe img {
	display: none;
}

/* @end */

/* @end */

/* @group Archive Page */

.archive .main-section {
		background: #fff;
		padding: 1em;
}
.archive.date .main-section { 
		padding: 0;
}

.archive .title-style {
	border-bottom: 7px solid #222;
}

.archive .ul-membres {
	margin-top: 2.5em;
	margin-bottom: 1em;
}

.archive .ul-membres .li  {
	padding-left: 0;
}

.year-archive li {
	display: block;
	float: left;
}

.year-archive a {
	padding: 0;
	text-decoration: none;
	margin-right: 1em;
	font-size: 140%;
	font-weight: bold;
	border-bottom: 0.3em solid #333;
}

/* @end */

/* @group News */


.page-template-page-news-php .main-header .h1 {
	margin-bottom: 0;
}

.news-item {
	border-bottom: 2px solid #333;
	padding-top: 2.5em;
	padding-bottom: 1.5em;
}

.news-item-ppl,
.news-item-title .h4 {
	margin-top: 0;
	margin-bottom: 0.3em;
	font-size: 100%;
}

.news-item-ppl .u-h {
	clear: left;
	display: block;
}

.news-item-title {
	margin-bottom: 1em;
}

.news-item-img img {
	width: 100%;
	margin-bottom: 1em;
}

.news-item:last-of-type {
/*	border-bottom: 0px;*/
}

.news-item-img img {
	max-width: 100%;
	height: auto;
	display: block;
}

.news-item-content p:first-of-type {
	margin-top: 0em;
}

.news-item-content p {
	margin: 0.5em 0;
}

.news-item-content iframe {
	max-width: 100%;
	width: 100%;
}


/* @end */

/* @group Formulaire inscription */


.form-module {
	width: 100%;
	margin: 0;
	margin-bottom: 2em;
	padding: 0;
}

.form-module h2 {
	border-bottom: 1px solid #333;
	clear: left;
}

.wpcf7-list-item {
			display: block;
}

input.wysija-input,		
input.wpcf7-text {
			max-width: 100%;
/*			background: #f6f6f6;*/
			border: 0px;
			border-radius: 0;
			border-bottom: 1px solid #333;
}
input.wpcf7-number {
			max-width: 100%;
			width: 100%;
			/*			background: #f6f6f6;*/
			border: 0px;
			border-radius: 0;
			border-bottom: 1px solid #333;
}
textarea.wpcf7-textarea {
			max-width: 100%;
			/*			background: #f6f6f6;*/
			border: 0px;
			border-radius: 0;
			border-bottom: 1px solid #333;
}


.form-module p {
	display: table;
	clear: left;
/*	float: left;*/
/*	float: none;*/
	width: 100%;
	margin: 0;
	margin-bottom: 0.7em;
	font-weight: 300;
}

.form-module .label {
	width: 30%;
	padding-right: 5%;
	display: block;
	display: table-cell;
	float: none;
	font-weight: 300;
/*			background: #ddd;*/
}


.form-module	.wpcf7-form-control-wrap {
	display: table-cell !important;
	float: none;
	width: 65%;
	vertical-align: bottom;
	/*			background: #ddd;*/
}


div.form-comment {
	padding: 2em 0 1em 0;
	clear: left;
}
.form-comment p {
	width: 100%;
	float: none;
}
		
input.wysija-submit,
input.wpcf7-submit {
	border: 0px;
	border-radius: 0;
	background: #fff;
	padding: 0 0 0.1em 0;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 1.5em;
	border-bottom: 4px solid #333;
}

div.wpcf7-response-output,
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
/*	border: 2px solid #f7e700;*/
	clear: none;
	float: right;
	padding: 0.5em 0.5em;
	margin: 1em 0 1em 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div.wpcf7-validation-errors {
	border: 3px solid #f5512d;
}

/*
 * Table Structure
 */

input.wpcf7-text,
textarea.wpcf7-textarea {
		width: 100%;
}

/*
 * Wysija Warnings
 */
.formError .formErrorContent {
	padding: 0.7em;
	border: 0px;
	width: auto;
	margin-top: -0.5em;
}
.widget_wysija_cont .updated, 
.widget_wysija_cont .error, 
.widget_wysija_cont .xdetailed-error {
	padding: 0.7em;
	float: left;
}

/* @end */

/* @group Page Contact */

.page-id-4 .content h3 {
	border-bottom: 1px solid #333;
	clear: left;
}

.page-id-4 iframe {
	background: #ddd;
}

.page-id-4 .form-module p {
	width: 100%;
	padding-left: 0;
}
.page-id-4 .form-module p > label,
.page-id-4 .form-mod-box {
	width: 100%;
	display: table;
}

.page-id-4 div.wpcf7-response-output, 
.page-id-4 div.wpcf7-validation-errors, 
.page-id-4 div.wpcf7-mail-sent-ok {
	float: left;
}

/* @end */

/* @group Admin Bar */

/* hide some stuff */

#wp-admin-bar-comments,
#wp-admin-bar-new-media,
#wp-admin-bar-new-page,
#wp-admin-bar-new-user,
#menu-comments {
 	display:none;
/* NOTE: 
	must be repeated in the main CSS
	since the admin bar is also on the frontend
	 */
}

/* @end */

/* end of CSS Document */