/* @override 
	http://levelodrome.org/wp-content/themes/velodrome/css/dev/32-mediaqueries.css */

/* @group Media Queries */
/* ------------------------------------------------------------------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
/* Smartphones (landscape) ----------- 

default styles
*/
@media only screen 
and (min-width : 300px) {
	.plan-container,
	.plan-velodrome {
		width: 236px;
		height: 118px;
	}

}

@media only screen 
and (min-width : 400px) {
	.plan-container,
	.plan-velodrome {
		width: 336px;
		height: 168px;
	}
}

@media only screen 
and (min-width : 500px) {
		.plan-container,
		.plan-velodrome {
			width: 436px;
			height: 218px;
		}
}

/* 600px - Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 600px) {
/* Styles */
 	.container {
 		max-width: 32em;
 		padding: 0;
 		padding-top: 0.3em;
 	}
 	
 	.vldr-logo {
 		font-size: 160%;
 	}
 	
 	
 	/*
 	 * Plan
 	 */
 	 
 	.plan-container,
 	.plan-velodrome {
 		width: 512px;
 		height: 256px;
 	}
 	
 	/**
 	 * News item styling
 	 */
 	 
 	 .news-item-content p:first-of-type {
 	 	margin-top: 0em;
 	 }
 	 
 	 .news-item-img img {
 	 	width: 100%;
 	 }
 	 
 	 /**
 	  * News item layout
 	  */
 	 
 	 .news-item-img {
 	 		width: 47%;
 	 		margin-right: 5%;
 	 		margin-bottom: 0.5em;
 	 		float: left;
 	 }
 	 
 	 .news-item-title {
 	 	width: 45%;
 	 	float: left;
 	 	margin-bottom: 1em;
 	 }
 	 
 	 .news-item-content {
 	 		width: 100%;
 	 }
 	 
 	 .no-img .news-item-title {
 	 		width: 25%;
 	 }
 	 
 	 .no-img .news-item-content {
 	 		width: 70%;
 	 		margin-left: 5%;
 	 		float: left;
 	 }
 	 
 	 .form-module p {	
 			width: 90%;
 			padding-left: 10%;
 	 }
 	 
 	 .form-comment p {
 	 	padding-left: 0;
 	 	width: 100%;
 	 }
 	 
 	 .img-gl-itm,
 	 .media-container {
 	 		width: 45%;
 	 		clear: none;
 	 		margin-right: 5%;
 	 		float: left;
 	 }
 	 
 	 .vimeoframe {
 	 		padding-bottom: 100% !important; 
 	 }
 	 
 	 .img-gl-itm,
 	 .youtube-container,
 	 .soundcloud-container {
 	 		padding-bottom: 45%;
 	 }
}


/*  768 px ----------- */
@media only screen 
and (min-width : 768px) {
		
		
		.hidden-mob {
			display: block;
		}
		
		.container {
			margin: 2em auto;
			max-width: 44em; /* 672px */
		}
			
		.vldr-logo {
			font-size: 200%;
			text-shadow: 0px -5px 50px rgb(255, 255, 255);
			
		}
		.vldr-logo:hover {
			text-shadow: 0 0 45px rgba(0, 0, 0, 0.3);
		}
		
		
		.main-nav {
			position: relative;
			top: 0px;
			left: 0em;
			border: 0px solid #ddd;
			width: 8em; /* 128px */
			float: left; 
			padding-left: 5px;
		}
		
		.main-nav .menu {
			display: block;
		}
		.menu-title {
			display: none;
		}
		
		.main-nav .menu-item  {
			line-height: 1;
			margin-top: 0em;
			margin-bottom: 1em;
			border: 0;
		}
		.main-nav .menu-item:first-of-type {
			border: 0;
		}
		
		.main-nav a {
			display: inline;
			font-weight: bold;
			text-decoration: none;
			padding: 0.2em 0.4em;
/*			background: rgba(255, 255, 255, 0.80);*/
			text-align: left;
			width: auto;
		}
		
		.main-nav, .main {
			margin-top: 2em;
		}
		
		.main {
			float: right;
			width: 34em;
			border: 0px solid #ddd;
		}
		
		
		/*
		 * Plan
		 */
		
		.plan-container,
		.plan-velodrome {
			width: 544px;
			height: 272px;
		}
		
		
		.fullwidth,
		.li-lo {
			-webkit-column-count: 2;	
			-moz-column-count: 2;
			column-count: 2;
			
			-webkit-column-gap: 0.7em;
			-moz-column-gap: 0.7em;
			column-gap: 0.7em;
		}
		
		.fullwidth {
			-webkit-column-gap: 1em;
			-moz-column-gap: 1em;
			column-gap: 1em;
		}
		.fullwidth p:first-of-type {
			margin-top: 0;
		}
		
		.page-id-4 .form-module p {
			width: 90%;
		}
		
		.vimeo-play-icon {
			background-image: url(../../img/arrows/video-arrow-116.png);
			background-repeat: no-repeat;
			width: 116px;
			height: 114px;	
			margin-top: -57px;
			margin-left: -58px;
		}
		
		.vid-legende {
			
		}

}

/*  960 px ----------- */
@media only screen 
and (min-width : 960px) {
		
		.container {
			max-width: 56em; /* 896px */
		}
		
		.vldr-logo {
			font-size: 250%;
		}
		
		.main-nav{
			
		}
		.main{
			width: 46em;
		}
		
		/*
		 * Plan
		 */
		
		.plan-container,
		.plan-velodrome {
			width: 736px;
			height: 368px;
		}
		
		/*
		 * Inscription
		 */
		
		.form-col {
			width: 22em;
			float: left;
			border: 0px solid #333;
		}
		.form-col-two {
			margin-left: 2em;
		}
		div.wpcf7-validation-errors {
			width: 22em;
		}
		
		.archive .main-section,
		.single-membres .no-svg {
			padding: 1.5em;
		}
		
		.archive.date .main-section {
			padding: 0;
		}
		
		.single-membres .has-svg {
			padding-left: 4em;
			padding-right: 4em;
		}		
		

		/*
		 * À 960px, les news items passent à 3 colonnes
		 *
		 * News item width
		 * 35% + 20% + 45% = 100%
		 * 16  + 11  + 19  = 46em
		 */
		
		.news-item-img {
			width: 15em;
			margin-right: 1em;
		}
		
		.news-item-title {
			width: 10em;
			margin-right: 1em;
		}
		
		.news-item-content {
			width: 19em;
			float: left;
		}
		
		.news-item-content > h1:first-child,
		.news-item-content > h2:first-child {
			margin-top: -0.2em;
		}
				
		/*
		 * No Title
		 * 12 + 2 + 32 = 46em
		 */
		
		.no-img .news-item-title {
			width: 12em;
			margin-right: 2em;
		}
		.no-img .news-item-content {
			width: 32em;
			margin-left: 0;
		}
		
		
		.li-lo {
			-webkit-column-count: 3;	
			-moz-column-count: 3;
			column-count: 3;
			
			-webkit-column-gap: 1.5em;
			-moz-column-gap: 1.5em;
			column-gap: 1.5em;
		}
		
		.fullwidth {
			-webkit-column-gap: 2em;
			-moz-column-gap: 2em;
			column-gap: 2em;
		}
		
		.img-gl-itm,
		.media-container {
				width: 30%;
				clear: none;
				margin-right: 3%;
				float: left;
				
		}
		
		.img-gl-itm,
		.youtube-container,
		.soundcloud-container {
				padding-bottom: 30%;
		}
		
}

/* 1224 px ----------- */
@media only screen 
and (min-width : 1224px) {
		
		.container {
			max-width: 70em; /* 672px */
		}
		
		.main-nav{
			
		}
		.main{
			width: 60em;
		}
		
		/*
		 * Plan
		 */
		 
		.plan-container,
		.plan-velodrome {
			width: 960px;
			height: 480px;
		}
		
		.form-col {
			width: 28em;
		}
		.form-col-two {
			margin-left: 4em;
		}
		
		div.wpcf7-validation-errors {
			width: 28em;
		}
		
		/*
		 * News item width
		 * 35% + 20% + 45% = 100%
		 * 21  + 12  + 27  = 60em
		 */
		
		.news-item-img {
			width: 19em;
			margin-right: 2em;
		}
		.news-item-title {
			width: 11em;
			margin-right: 2em;
		}
		.news-item-content {
			width: 26em;
		}
		
		/*
		 * No Title
		 * 14 + 2 + 44 = 60em
		 */
		
		.no-img .news-item-title {
			width: 14em;
			margin-right: 2em;
		}
		.no-img .news-item-content {
			width: 44em;
		}
		
		
		.li-lo {
			-webkit-column-count: 4;	
			-moz-column-count: 4;
			column-count: 4;
			
			-webkit-column-gap: 2em;
			-moz-column-gap: 2em;
			column-gap: 2em;
		}
		
		
		.fullwidth {
			
			-webkit-column-count: 3;	
			-moz-column-count: 3;
			column-count: 3;
		
		
			-webkit-column-gap: 2em;
			-moz-column-gap: 2em;
			column-gap: 2em;
		}
		
		
		.single-membres .has-svg {
			padding-left: 5em;
			padding-right: 5em;
		}
		
		.single-membres .post-content {
			width: 45em;
			float: left;
		}
		
		.taxonomy-description {
			width: 45em;
		}
		
		
		.page-id-4 .form-module p {
			width: 80%;
		}
		
		
		.vimeo-play-icon {
			/*background-image: url(../../img/arrows/video-arrow-231x228.png);
			width: 231px;
			height: 228px;
			margin-top: -114px;
			margin-left: -116px;*/
		}
		
}



/* @end */