@font-face {
	font-family: 'vldr';
	src:url('fonts/vldr.eot?-lp49kj');
	src:url('fonts/vldr.eot?#iefix-lp49kj') format('embedded-opentype'),
		url('fonts/vldr.woff?-lp49kj') format('woff'),
		url('fonts/vldr.ttf?-lp49kj') format('truetype'),
		url('fonts/vldr.svg?-lp49kj#vldr') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'vldr';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu-alt:before {
	content: "\e600";
}
.icon-vldr:before {
	content: "\e601";
}
.icon-zoomin:before {
	content: "\e602";
}
.icon-expand:before {
	content: "\e603";
}
.icon-expand2:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e605";
}
.icon-search:before {
	content: "\e606";
}
