@font-face {
  font-family: 'vldr';
  src:  url('fonts/vldr.eot?busf9h');
  src:  url('fonts/vldr.eot?busf9h#iefix') format('embedded-opentype'),
    url('fonts/vldr.ttf?busf9h') format('truetype'),
    url('fonts/vldr.woff?busf9h') format('woff'),
    url('fonts/vldr.svg?busf9h#vldr') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vldr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-alt:before {
  content: "\e600";
}
.icon-vldr:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e606";
}
.icon-menu:before {
  content: "\e605";
}
.icon-expand:before {
  content: "\e603";
}
.icon-zoomin:before {
  content: "\e602";
}
.icon-expand2:before {
  content: "\e604";
}

